/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
a:hover {
	cursor: pointer;
}
.cvn-player-link {
    color: #0a5689;
    text-decoration: none;
}

#mod-playerinfo img{
    float: left;
    margin-right: 20px;
}

#mod-playerinfo #mod-playerinfo-game{
    clear: both;
    padding-left: 60px;
    padding-top: 20px;
}